* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.myClock {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: black;
  border-radius: 20px;
  margin-top: 10px;
}
