/* Outer dark ring */
.btn-outer {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* outer gray ring */
.btn-outer-2 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Inner button */
.btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #333333;
  color: #fff;
  border: none;
  cursor: pointer;

  font-size: 14px;
  font-weight: 500;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hover */
.btn:hover {
  filter: brightness(1.1);
}

/* Pressed (tap) effect */
.btn:active {
  transform: scale(0.96);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.7);
}
