.top {
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 0;
  margin: 0;
  border: none;
  margin-bottom: -1px;
  border-radius: 15px;
}

.dynamic-island {
  background-color: #747474;
  width: 134px;
  height: 32px;
  border-radius: 16px;
  margin: 10px;
}
